.background.mobile {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-image: url("../assets/images/cars.jpg");
    opacity: 40%;
    background-position-x: right 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

#overlay {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, rgba(0, 212, 255, 0.75) 0%, rgba(64, 178, 226, 0.75) 49%, rgba(12, 90, 236, 0.75) 100%);
}