#page-wrap {
    height: 100%;
    overflow: auto;
    z-index: 1;
}

.professionalContent {
    position: relative;
    padding-top: 2.5em;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-wrap;
}

/*
top left
top right
bottom right
bottom left

background-color: rgb(107, 107, 180);
*/

section:nth-child(2n + 3):not(:first-of-type) {
    position: relative;
    padding: 3em;
    width: 100%;
    z-index: 0;
    background-color: #fafad2e0;
}

section p {
    color: black;
    z-index: 2;
}

section:nth-child(even) {
    position: relative;
    padding: 3em;
    width: 100vw;
    z-index: 0;
    background-color: #9e7676ee;
    overflow: hidden;
}

@media screen and (max-height: 1000px) {
    #titlehead {
        padding: 1em 10% 1.5em 10%;
        background-color: rgba(173, 216, 230, 0.80);
    }

    .content {
        width: 60%;
    }
}