@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#header {
    background-color: white;
    position: sticky;
    width: 100vw;
    max-width: 100%;
    height: calc(10vh - 5px);
    border-bottom: 5px solid #C3A915;
    opacity: 75%;
    display: flex;
}

#artistName {
    position: relative;
    display: flex;
    align-self: flex-end;
    margin:0px 0px 0px 0px;
    padding-left: calc(100vw/15);
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.8rem;
    width: calc(100% + 0.8rem);
    font-size: 3em;
    line-height: 1.625;
    font-weight: 400;
    color:black;
}

.tabs {
    position: relative;
    display: flex;
    align-self: flex-end;
    margin:0px 0px 0px auto;
    padding-right: calc(100vw/12);
}