#main {
    --alignment: center;
    --flex-alignment: center;
    --indent-left: 1;
    --indent-right: 1;
    --border-radius-tl: 0;
    --border-radius-tr: 0;
    --border-radius-br: 0;
    --border-radius-bl: 0;
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    height: calc(90vh + 10px);
    max-width: 100%;
    position: absolute;
    left: 0;
    top: calc(10vh - 5px);
    text-align: var(--alignment);
    z-index: 1;
    background-color: white;
    border-right: 5px solid #69C1A5;
    opacity: 75%;
}

#main > .inner {
    --padding-horizontal: 3.375rem;
    --padding-vertical: 4.25rem;
    --spacing: 1.25rem;
    --width: 35rem;
    border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
    max-width: 100%;
    max-height: 100%;
    position: relative;
    width: var(--width);
    z-index: 1;
    padding: var(--padding-vertical) var(--padding-horizontal);
    overflow-y: scroll;
}

#main > .inner::-webkit-scrollbar {
    display: none;
}

#main > .inner > * {
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    transition: opacity 1s ease-in-out 0s;
}

#twitterPFP {
    border-radius: 50%;
    max-width: 300px;
    width: auto;
    height: auto;
}

#text02 {
    color: #545454;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.05rem;
    width: calc(100% + 0.05rem);
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}

h1, h2, h3, p {
    direction: var(--site-language-direction);
    position: relative;
}

h1 {
    margin: 0;
}

h1 span.p, h2 span.p, h3 span.p, p span.p {
    display: block;
    position: relative;
}

.buttons {
    cursor: default;
    display: flex;
    justify-content: var(--flex-alignment);
    letter-spacing: 0;
    padding: 0;
}

#buttons01 {
    gap: 0.875rem;
    flex-direction: row;
    flex-wrap: wrap;
}

#buttons01:not(:last-child) {
    margin-bottom: 2rem !important;
}
#buttons01:not(:first-child) {
    margin-top: 2rem !important;
}

#buttons01 .button {
    background-color: #262626;
    color: #FFFFFF;
}
#buttons01 li a {
    display: inline-flex;
    width: auto;
    height: 1.625rem;
    line-height: 1.625rem;
    padding: 0 0.8125rem;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.4rem;
    padding-left: calc(0.4rem + 0.8125rem);
    font-size: 0.5em;
    font-weight: 300;
    border-radius: 2.5rem;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

.buttons li a {
    align-items: center;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ol, ul {
    list-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

:not(svg) {
    transform-origin: 0px 0px;
}

#buttons01 li a svg {
    display: block;
    fill: #FFFFFF;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    min-width: 18px;
    width: 1.25em;
    margin-left: -0.125em;
    margin-right: calc(0rem + 0.4rem);
    transition: fill 0.25s ease;
}

#divider01:not(:last-child) {
    margin-bottom: 0.75rem !important;
}
#divider01:not(:first-child) {
    margin-top: 0.75rem !important;
}

hr {
    border: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

#divider01:before {
    width: 6rem;
    border-top: solid 1px #D9D9D9;
    height: 1px;
    margin-top: -0.5px;
}
hr:before {
    content: '';
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}
*, *:before, *:after {
    box-sizing: border-box;
}

#text02 a {
    text-decoration: underline;
}

a {
    color: inherit;
    text-decoration: underline;
    transition: color 0.25s ease;
}

#table01 {
    text-transform: lowercase;
    color: #545454;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: -0.025rem;
    font-size: 0.875em;
    line-height: 1.375;
    font-weight: 400;
}

.table-wrapper {
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
}

#table01 .table-inner {
    width: 32rem;
}

.table-inner {
    display: inline-block;
    max-width: 100%;
}

table {
    direction: var(--site-language-direction);
    text-align: var(--site-language-alignment);
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#table01 thead {
    border-bottom: solid 2px #D9D9D9;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

#table01 th:first-child, #table01 td:first-child {
    padding-left: 0;
}
#table01 th, #table01 td {
    padding: 0.125rem 0.171875rem;
}

#text10 {
    color: #545454;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.75em;
    line-height: 1.375;
    font-weight: 400;
}

em {
    font-style: italic;
}

#main > .inner > :last-child {
    margin-bottom: 0 !important;
}
#divider06:not(:first-child) {
    margin-top: 0.75rem !important;
}

#divider06:before {
    width: 6rem;
    border-top: solid 1px #D9D9D9;
    height: 1px;
    margin-top: -0.5px;
}

#main > .inner > :last-child {
    margin-bottom: 0 !important;
}