.content {
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    position: absolute;
    width: 70%;
    right: -70%;
    height: calc(100vh - 60px);
    background-color: white;
    border-left: 0.5vw solid #4d00f2;
    border-right: 0.5vw solid #4d00f2;
    padding: 0 1vw 0 1vw;
    overflow: auto;
    animation: contentAppear 0.1s forwards;
}

#titlehead {
    position: relative;
    vertical-align: middle;
    text-align: center;
    font-size: 3.2rem;
    color: black;
}

.about {
    text-align: left;
    padding-left: 2vw;
    padding-right: 2vw;
    overflow: none;
    height: auto;
}

hr.profilehr {
    border-top: 2px solid black;
    border-radius: 5px;
    border-bottom: 0px;
}

a.link {
    color: blue;
    text-decoration: underline;
}

.socials__bar a {
    padding: 0 5px 0 5px;
}

.profileTabs {
    width: 80%;
    height: auto;
    background: #053742;
    margin: 3.5rem auto 1.5rem;
    color: #E8F0F2;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

ul.profileNav {
    width: 100%;
    height: auto;
    min-height: 50px;
    border: 1px solid #39A2DB;
    border-radius: 2rem;
    justify-content: space-between;
    display: flex;
    padding: 0;
    margin: 0;
}

ul.profileNav li {
    width: 50%;
    list-style: none;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
}

ul.profileNav li:nth-child(1) {
    border-radius: 0;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

ul.profileNav li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

ul.profileNav li:hover {
    background: rgba(50, 224, 196, 0.15);
}

ul.profileNav li.active {
    background: #39A2DB;
}

@media screen and (max-height: 1000px) {
    #titlehead {
        padding: 1.5vw 10% 0 10%;
    }

    .content {
        width: 60%;
    }
}

@media screen and (min-height: 1000px) and (max-width: 1000px) {
    #titlehead {
        padding: 10vw 10% 0 10%;
    }
    .content {
        width: 55%;
    }
}

@keyframes contentAppear {
    from {
        right: -70%;
    }

    to {
        right: 0;
    }
}