.screen {
    position: absolute;
    width: 75%;
    height: 0%;
    background-color: rgba(53,51,90,0.9);
    opacity: 0;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(148,176,207,255);
    top: 10%;
    left: 20%;
    z-index: 1;
    filter: none;
    transform: scale(1);
    transition: 0.2s ease-in;
    animation: screenAppear 0.2s forwards, screenPulsate 2.5s infinite alternate;
    animation-delay: 0.2s;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.screen-header > p {
    position: sticky;
    top: 0%;
    left: 50%;
    width: auto;
    background-color: rgba(53,51,90,1);
    border-bottom: 3px solid #bbb;
    text-align: center;
    font-size: xx-large
}

.screen-text {
    padding: 20px 20px 20px;
    display: block;
    text-align: left;
    height: 87%;
}

.close-button {
    position: absolute;
    top: 8px;
    display: block;
    align-self: right;
    right: 8px;
    width: 30px;
    height: 30px;
    filter: invert(98%) sepia(26%) saturate(4776%) hue-rotate(167deg) brightness(106%) contrast(113%);
    /** filter generator: https://codepen.io/sosuke/pen/Pjoqqp */
    /** RGBA to HEX: https://simplecss.eu/rgbatohex.html */
}

.screen::-webkit-scrollbar {
    display: none;
  }

.horizontal-line {
    position: absolute;
    width: 75%;
    height: 2px;
    background-color: rgba(148,176,207,255);
    border-radius: 5px;
    top: 50%;
    left: calc(20% + 2px);
    
    z-index: 2;
}

.horizontal-line.up {
    animation: lineAppearUp 0.4s forwards;
}

.horizontal-line.down {
    animation: lineAppearDown 0.4s forwards;
}

@keyframes screenAppear {
    from {
        top: 50%;
        height: 0%;
        opacity: 0;
    }
    to {
        top: 10%;
        height: 75%;
        opacity: 1;
    }
}
@-moz-keyframes screenAppear { /* Firefox */
    from {
        top: 50%;
        height: 0%;
        opacity: 0;
    }
    to {
        top: 10%;
        height: 75%;
        opacity: 1;
    }
}
@-webkit-keyframes screenAppear { /* Safari and Chrome */
    from {
        top: 50%;
        height: 0%;
        opacity: 0;
    }
    to {
        top: 10%;
        height: 75%;
        opacity: 1;
    }
}
@-o-keyframes screenAppear { /* Opera */
    from {
        top: 50%;
        height: 0%;
        opacity: 0;
    }
    to {
        top: 10%;
        height: 75%;
        opacity: 1;
    }
}

@keyframes lineAppearUp {
    0% {
        
        width: 0%;
    }
    50% {
        top: 50%;
        width: 75%;
    }
    100% {
        top: 10%;
    }
}
@-moz-keyframes lineAppearUp { /* Firefox */
    0% {
        
        width: 0%;
    }
    50% {
        top: 50%;
        width: 75%;
    }
    100% {
        top: 10%;
    }
}
@-webkit-keyframes lineAppearUp { /* Safari and Chrome */
    0% {
        
        width: 0%;
    }
    50% {
        top: 50%;
        width: 75%;
    }
    100% {
        top: 10%;
    }
}
@-o-keyframes lineAppearUp { /* Opera */
    0% {
        
        width: 0%;
    }
    50% {
        top: 50%;
        width: 75%;
    }
    100% {
        top: 10%;
    }
}

@keyframes lineAppearDown {
    0% {
        
        width: 0%;
    }
    50% {
        top: 50%;
        width: 75%;
    }
    100% {
        top: calc(85% + 2px);
    }
}
@-moz-keyframes lineAppearDown { /* Firefox */
    0% {
        
        width: 0%;
    }
    50% {
        top: 50%;
        width: 75%;
    }
    100% {
        top: calc(85% + 2px);
    }
}
@-webkit-keyframes lineAppearDown { /* Safari and Chrome */
    0% {
        
        width: 0%;
    }
    50% {
        top: 50%;
        width: 75%;
    }
    100% {
        top: calc(85% + 2px);
    }
}
@-o-keyframes lineAppearDown { /* Opera */
    0% {
        
        width: 0%;
    }
    50% {
        top: 50%;
        width: 75%;
    }
    100% {
        top: calc(85% + 2px);
    }
}

@keyframes screenPulsate {
    100% {
      /* Larger blur radius */
      box-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgba(128, 218, 245, 0.2),
        0 0 80px rgba(128, 218, 245, 0.2),
        0 0 90px rgba(128, 218, 245, 0.2),
        0 0 100px rgba(128, 218, 245, 0.2),
        0 0 150px rgba(128, 218, 245, 0.2);
    }
    0% {
      /* Smaller blur radius */
      box-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px rgba(128, 218, 245, 0.2),
        0 0 45px rgba(128, 218, 245, 0.2),
        0 0 55px rgba(128, 218, 245, 0.2),
        0 0 70px rgba(128, 218, 245, 0.2),
        0 0 80px rgba(128, 218, 245, 0.2);
    }
  }